/* Created by: Mr. Coxall
* Created on: Sep 2020
* This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/
body {
  background-color:rgb(255, 121, 251);
}
h1 {
  background-color: rgb(232, 101, 247);
  color: hsl(239, 50%, 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(232, 101, 247);
}

ul {
  color: rgb(45, 41, 109);
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: rgb(255, 110, 233);
  border: 1px solid white;
  text-align: center;
}
td {
  height: 2rem;
  background: rgb(207, 129, 215);
  border: 1px solid black;
  text-align: center;
}