/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/


body {
    background-color: rgb(230 176 228);
}


h1 {
    background-color: rgb(171, 101, 247);
    color:rgb(4 0 255);
    padding: 40px;
    text-align: center;
}

p{
    background-color: rgb(171, 101, 247);
}
